<table class="table table-striped table-hover">
  <tr *ngFor="let book of books | async">
    <td>
      {{book.id}}
    </td>

    <td>
      {{book.title}}
    </td>

    <td>
      <table>
        <tr *ngFor="let author of book.authors">
          <td>
            {{author.name}} {{author.surname}}
          </td>
        </tr>
      </table>
    </td>

    <td>
      {{book.publishDate}}
    </td>

    <td>
      <button class="btn btn-default" [routerLink]="['books', book.id]">Pokaż</button>
    </td>

    <td>
      <button class="btn btn-default" [routerLink]="['books', book.id, 'edit']">Edytuj</button>
    </td>

    <td>
      <button class="btn btn-danger" (click)="remove(book)">Usuń</button>
    </td>
  </tr>
</table>

<button class="btn btn-primary" routerLink="books/new">Nowa książka</button>
