<form #bookForm="ngForm" *ngIf="keypart">
  <table class="table table-striped">
    <tr>
      <td>Id:</td><td>{{keypart.id}}</td>
    </tr>

    <tr>
      <td>Waluta:</td>
      <td>
        <select [(ngModel)]="keypart.currency" name="currency" class="form-control">
          <option *ngFor="let currency of availableCurrencies" [ngValue]="currency">
            {{currency}}
          </option>
        </select>
        <input type="text" name="publishDate" class="form-control" [(ngModel)]="book.publishDate">
      </td>
    </tr>

    <tr>
      <td>
        Właściciele:
      </td>
      <td>
        <select [(ngModel)]="keypart.owner" name="owner" multiple class="form-control" [compareWith]="compareOwners">
          <option *ngFor="let user of availableUsers" [ngValue]="user">
            {{author.name}} {{author.surname}}
          </option>
        </select>
      </td>
    </tr>
  </table>

  <button type="button" class="btn btn-primary" (click)="save()">Zapisz</button>
  <button type="button" class="btn btn-default" routerLink="/">Powrót</button>
</form>
